@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* - - Shared Styles - - */

.primary-color {
    color: #3A3A3A;
}

.primary-font {
    font-family: Poppins;
}

header {
    max-width: 1240px;
    margin: 30px auto;
}

/* Nav Section */

.brand-name {
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: #3A3A3A;
}

nav li {
    list-style: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600px;


}

nav a {
    text-decoration: none;
    color: #3A3A3A;

}

.nav-items ul {
    display: flex;
    gap: 34px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 450px;
}

/* banner-section */

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 133px;

}

.hero-titile {
    font-size: 3.25rem;
    font-weight: 700px;
}

.hero-despription {
    font-size: 0rem;
}

.banner-content button {
    width: 196px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    font-family: Poppins;
    font-size: 16px;
    color: white;
    border: none;
    margin-top: 16px;

}

.banner-content button:hover {
    color: white;
    background-color: green;
}


/* .banner-photo .circle {
    width: 475px;
    height: 475px;
    transform: translate(400px, 400px);
} */
/* 
.banner-photo .camera {
   transform: translate(20px, -400px);
} */

.brand-section {
    color: #C0CCDA;
    margin-top: 50px;
    margin-bottom: 50px;
}

.brand-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    height: 110px;
    margin-left: 165px;
    margin-right: 165px;

}

/* - - - Products Section - - -  */

.section-title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    color:#3A3A3A;
    text-align: center;
}

.products-section {
    max-width: 1140px;
    margin: 20px auto;
    border: 2px solid red;
}


.product-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items:center ;
}

.product-collection {
    column-gap: 30px;
    row-gap: 30px;
}


.item {
    width: 329px;
    height: 450px;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 18px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    justify-content: center;

}

.item img{
    margin: 10px;
}

.see-more button{
    width: 150px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    border-radius: 15px;
    background: rgb(224, 44, 109);
    font-family: Poppins;
    font-size: 16px;
    color: white;
    border: none;
    margin-top: 16px;

}

 /* - - - Feature products - - -  */

 .feature-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 70px auto;
    border: 2px solid purple;
    gap: 96px;
 }

 .feature-products h1{
    font-family: Poppins;
    font-size: 38px;
    font-family: 700;
 }

 .feature-products p{
    font-family: Poppins;
    font-size: 16px;
    font-family: 400;
    text-align: justify;
 }

 .feature-products button{
    width: 150px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    border-radius: 2px;
    background: rgb(224, 44, 109);
    font-family: Poppins;
    font-size: 16px;
    color: white;
    border: none;
    margin-top: 16px;
 }